body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.replace {
    text-decoration-line: line-through;
}

.header {
    background-color: gray;
}

.heading {
    color: #FFF;
    background-color: gray;
    float: right;
}

.current-time {
    font-weight: 900;
}

table {
    width: 100%;
}

th {
    font-size: 1.5rem;
}

tr {
    font-size: 1.25rem;
    margin: 20px;
}

.train {
    padding: 10px;
}

.head {
    margin: 40px;
}

button {
    margin: 20px;
}

.t-1a {
    color: orange;
}

#modal
 {
     position: absolute;
     z-index: 1000;
 }

.footer {
    background-color: gray;
}