body {
    margin: 0 auto;
}

.replace {
    text-decoration-line: line-through;
}

.header {
    background-color: gray;
}

.heading {
    color: #FFF;
    background-color: gray;
    float: right;
}

.current-time {
    font-weight: 900;
}

button {
    margin: 20px;
}

.t-1a {
    color: orange;
}

#modal
 {
     position: absolute;
     z-index: 1000;
 }

.footer {
    background-color: gray;
}